<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FlightBookingSystemClassLibrary.Properties.Settings.FBSConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Michał Troszczyński\Documents\Visual Studio 2017\Projects\FlightBookingSystemClassLibrary\FlightBookingSystemClassLibrary\FlightBookingSystemDataset.mdf;Integrated Security=True;Connect Timeout=60;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="FlightBookingSystemClassLibrary.Properties.Settings.FlightBookingSystemDatasetConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FlightBookingSystemDataset.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>